# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# VS Code settings
.vscode/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.migrations/

# Environment variables
.env

# macOS files
.DS_Store
